#HoatDongGanDay .card-body{
    height: 632px;
    overflow: hidden;
}

#ChiPhiDichVu-NgoaiGiao{
    font-size: 12px;
}

#HoatDongGanDay__KhachHang{
    width: 45%;
}

@media (max-width: 991.98px) {
    #ChiPhiDichVu-NgoaiGiao{
        font-size: 10px;
    }
    
    #HoatDongGanDay__KhachHang{
        width: 55%;
    }
}

@media (max-width: 767.98px) {
    #HoatDongGanDay .card-body{
        height: 287.95px;
    }

    #HoatDongGanDay__KhachHang{
        width: 30%;
    }

    #HoatDongGanDay__HoatDong{
        width: 70%;
    }
}

