.avatar-preview {
    width: 178px;
    height: 178px;
}

#imagePreview {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}